<p id="notice"></p>
<p>
  <strong>Title:<%= @book.title %></strong>
</p>

<p>
  <strong>Body:<%= @book.body %></strong>
</p>

<a class=edit_(id) href="/books/:id/edit">Edit</a>
<a class="back" href="/books">Back</a>